<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="application-file">
            <FileName>logs/nc_application.log</FileName>
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <FilePattern>logs/%d{yyyy-MM}/%d{dd}/nc_application.log.zip</FilePattern>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>


        <RollingFile name="communication-file">
            <FileName>logs/nc_communication.log</FileName>
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <FilePattern>logs/%d{yyyy-MM}/%d{dd}/nc_communication.log.zip</FilePattern>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <RollingFile name="security-file">
            <FileName>logs/nc_security.log</FileName>
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <FilePattern>logs/%d{yyyy-MM}/%d{dd}/nc_security.log.zip</FilePattern>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console" level="error"/>
        </Root>

        <Logger name="application" level="info">
            <AppenderRef ref="application-file"/>
        </Logger>

        <Logger name="communication" level="trace">
            <AppenderRef ref="communication-file"/>
        </Logger>

        <Logger name="security" level="trace">
            <AppenderRef ref="security-file"/>
        </Logger>
    </Loggers>
</Configuration>